{% extends 'main.html' %}

{% block models %}
    <div style="display: flex; justify-content: space-between">
        {% for Brand in brands %}
        <div style="text-align: center; height: 150px; width: 300px;">
            <img src="media/{{ Brand.image }}" alt="" style="width: 300px">
            {% if brands.stars > 2 %}
                <h3 style="color: green">{{ Brand.name }}</h3>
            {% else %}
                <h3 style="color: red">{{ Brand.name }}</h3>
            {% endif %}
            <h5>{{ Brand.engine }}</h5>
            <p>Stars: {{ Brand.hp }}</p>
            <p>Type: {{ Brand.nm }}</p>
            <a href="/models/{{ Brand.id }}/">More</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}